{% extends "base.html" %}
{% block main %}
<main class="not-found">
    <div class="container">
        <h1>Error 404!</h1>
        <h3>Sorry that page cannot be found.</h3>
    </div> <!-- /.container -->
</main> <!-- /.our-works -->
{% endblock main %}