<footer class="footer">
    <div class="section-one">
        <div class="container">
            <div class="info">
                <ul>
                    <li>links</li>
                    <li><a href="{{config.base_url}}">home</a></li>
                    <li><a href="{{config.base_url}}works">works</a></li>
                    <li><a href="{{config.base_url}}about">about</a></li>
                    <li><a href="{{config.base_url}}blog">blog</a></li>
                    <li><a href="{{config.base_url}}contact">contact</a></li>
                </ul>
                <ul>
                    <li>address</li>
                    <li>No. 8</li>
                    <li>8th Street</li>
                    <li>Boksburg, 1459</li>
                    <li>RSA</li>
                </ul>
                <ul>
                    <li>contact</li>
                    <li><span class="mailaddress">info@iliascc.co.za</span></li>
                    <li>+27785318335</li>
                </ul>
                <div class="clearfix"></div>
            </div> <!-- /.info -->
            <div class="get-in-touch">
                <h4>Ready to start a project?</h4>
                <p>Don't hesitate to contact us and figure out<br> how we
                    can help.</p>
                <a href="{{page.permalink}}/contact" class="cta-secondary"><span>Get in touch</span><img src="{{ get_url(path="{{config.base_url}}assets/img/contact-icon-sm.svg") | safe }}" alt=""></a>
            </div> <!-- /.get-in-touch -->
        </div> <!-- /.container -->
        <div class="clearfix"></div>
    </div><!-- /.section-one -->
    <div class="section-two">
        <div class="container">
            <p class="copyright"><i class="far fa-copyright"></i> 2021 ILIAS Creative Concepts.<br> all rights reserved</p>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fab fa-behance"></i></a></li>
            </ul>
        </div> <!-- /.container -->
    </div> <!-- /.section-two -->
</footer> <!-- /.footer -->