<header class="header">
    <div class="container">
        <a href="/">
            <img src="{{ get_url(path="{{page.permalink}}/assets/img/logo.svg") | safe }}" class="logo" alt="">
        </a>
        <a href="#" class="open-nav"><i></i></a>
        {% include "_nav.html" %}
        <div class="clearfix"></div>
    </div> <!-- /.container -->
</header> <!-- /.header -->