<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="{{config.base_url}}/works">works</a></li>
        <li><a href="{{config.base_url}}/about">about</a></li>
        <li><a href="{{config.base_url}}/blog">blog</a></li>
        <li><a href="{{config.base_url}}/contact">contact</a></li>
    </ul>
</nav>