{% extends "base.html" %}
{% block main %}
<main class="about">
    <div class="container">
        <h1>We are an award winning<br> creative studio based<br> in London.</h1>
        <div class="info">
            <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</p>
            <p>Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
        </div>
        <div class="clearfix"></div>
    </div> <!-- /.container -->
    <div class="img-one"><img src="assets/img/about-1.jpg" class="img-cover" alt=""></div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="awards">
            <h2>Awards</h2>
            <ul>
                <li>Awwards</li>
                <li>FWA</li>
                <li>Behance.net</li>
                <li>Behance Interaction</li>
                <li>CSS Design Awards</li>
            </ul>
            <div class="clearfix"></div>
        </div> <!-- /.awards -->
        <div class="services">
            <h2>Services</h2>
            <ul>
                <li>Art Direction</li>
                <li>Branding</li>
                <li>Digital Design</li>
                <li>UI Design</li>
                <li>Visual Design</li>
                <li>Web Design</li>
            </ul>
            <div class="clearfix"></div>
        </div> <!-- /.services -->
        <div class="img-two"><img src="assets/img/about-2.jpg" class="img-cover" alt=""></div>
        <div class="clients">
            <h2>Clients</h2>
            <ul>
                <li>Adobe</li>
                <li>Google</li>
                <li>Nike</li>
                <li>Celine</li>
                <li>Serenity</li>
                <li>Bold</li>
                <li>Daphne</li>
            </ul>
            <div class="clearfix"></div>
        </div> <!-- /.clients -->
        <div class="contact-us">
            <div>
                <h2>contact us</h2>
                <h1>Let's make something<br> great together</h1>
                <a href="contact.html" class="cta-secondary"><span>Get in touch</span><img src="assets/img/contact-icon.svg" alt=""></a>
            </div>
        </div> <!-- /.contact-us -->
    </div> <!-- /.container -->
</main> <!-- /.about -->
{% endblock main %}