{% extends "base.html" %}
{% block main %}
<main class="blog">
    <div class="container">
        {% for post in section.pages %}
        <div class="blog-item">
            <a href="#" class="category">{{ post.date }}</a>
            <h2 class="title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        </div> <!-- /.blog-item -->
        {% endfor %}
    </div> <!-- /.container -->
</main> <!-- /.blog -->
{% endblock main %}