{% extends "base.html" %}
{% block main %}
<main>
    <article>
        <div class="thumbnail-wrapper">
            <div class="entry-thumbnail"><img src="assets/img/blog-post-1.jpg" alt="" class="img-cover"></div>
        </div> <!-- /.thumbnail-wrapper -->
        <div class="header-wrapper">
            <div class="entry-header">
                <a href="#" class="category">branding, </a>
                <a href="#" class="category">strategy</a>
                <h1 class="title">How to develop<br> a unique brand<br> identity</h1>
                <span class="author">by catherine wood</span>
            </div> <!-- /.entry-header -->
        </div> <!-- /.header-wrapper -->
        <div class="clearfix"></div>
        <div class="container">
            <div class="entry-content">
                <p>Art probably owes more to form for its range of expression than to colour. Many of the noblest things it is capable of conveying are expressed by form more directly than by anything else. And it is interesting to notice how some of the world's greatest artists have been very restricted in their use of colour, preferring to depend on form for their chief appeal.</p>
                <p>It is reported that Apelles only used three colours, black, red, and yellow, and Rembrandt used little else. Drawing, although the first, is also the last, thing the painter usually studies. There is more in it that can be taught and that repays constant application and effort. </p>
                <figure class="post-img">
                    <img src="assets/img/blog-post-2.jpg" alt="" class="img-cover">
                    <figcaption>Art probably owes more to form for its range of expression than to colour</figcaption>
                </figure>
                <p>Colour would seem to depend much more on a natural sense and to be less amenable to teaching. A well-trained eye for the appreciation of form is what every student should set himself to acquire with all the might of which he is capable.</p>
                <p>It is not enough in artistic drawing to portray accurately and in cold blood the appearance of objects. To express form one must first be moved by it. The form significance of which we speak is never found in a mechanical reproduction like a photograph. You are never moved to say when looking at one, "What fine form."</p>
                <p>It is difficult to say in what this quality consists. The emphasis and selection that is unconsciously given in a drawing done directly under the guidance of strong feeling, are too subtle to be tabulated; they escape analysis.</p>
                <div class="quote">
                    <blockquote>
                        <div class="wrapper">
                            <img src="assets/img/quote.svg" alt="" class="img-responsive">
                            <p>Art probably owes<br> more to form for its<br> range of expression<br> than to colour </p>
                            <span>Harold Speed</span>
                        </div>
                    </blockquote>
                    <div class="illustration">
                        <img src="assets/img/quote-illustration.jpg" alt="" class="img-cover">
                    </div>
                </div> <!-- /.quote -->
                <p>But it is this selection of the significant and suppression of the non-essential that often gives to a few lines drawn quickly, and having a somewhat remote relation to the complex appearance of the real object, more vitality and truth than are to be found in a highly-wrought and painstaking drawing, during the process of which the essential and vital things have been lost sight of in the labour of the work.</p>
                <p>Of course, had the finished drawing been done with the mind centred upon the particular form significance aimed at, every touch and detail added in tune to this idea, the comparison might have been different.</p>
                <p>But it is rarely that good drawings are done this way. Fine things seem only to be seen in flashes, and the nature that can carry over the impression of one of these moments during the labour of a highly-wrought drawing is very rare, and belongs to the few great ones of the craft alone.</p>
            </div> <!-- /.entry-content -->
            <div class="related-posts">
                <h3 class="blog-section-header">related posts</h3>
                <div class="item">
                    <div class="wrapper">
                        <a href="#" class="category">branding, </a>
                        <a href="#" class="category">strategy</a>
                        <h2 class="title"><a href="blog-post.html">How to develop<br> a unique brand<br> identity</a></h2>
                        <a href="blog-post.html" class="cta-secondary"><span>Read an article</span><img src="assets/img/contact-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="wrapper">
                        <a href="#" class="category">graphic design</a>
                        <h2 class="title"><a href="blog-post.html">Modern graphic<br> design: philosophy<br> and style</a></h2>
                        <a href="blog-post.html" class="cta-secondary"><span>Read an article</span><img src="assets/img/contact-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div> <!-- /.related-posts -->
            <div class="leave-comment">
                <h3 class="blog-section-header">leave a comment</h3>
                <form action="#" class="contact-form">
                    <input name="name" placeholder="Your Name *" type="text" required>
                    <input name="email" placeholder="Your Email *" type="email" required>
                    <textarea name="message" placeholder="Tell us about your project *" required></textarea>
                    <input type="submit" value="send message">
                    <div class="clearfix"></div>
                </form> <!-- /.contact-form -->
            </div> <!-- /.leave-comment -->
            <div class="comments">
                <h3 class="blog-section-header">comments</h3>
                <div class="comment">
                    <div class="avatar"><img src="assets/img/user-1.jpg" alt="" class="img-cover"></div>
                    <h4 class="username">helen brown</h4>
                    <span class="publication-date">February 3 at 17.03</span>
                    <p>Art thus enables us to experience life at second hand. The small man may enjoy somewhat of the wider experience of the bigger man, and be educated to appreciate in time a wider experience for himself. This is the true justification for public picture galleries.</p>
                    <a href="#" class="reply">reply to this comment</a>
                </div> <!-- /.comment -->
                <div class="comment">
                    <div class="avatar"><img src="assets/img/user-2.jpg" alt="" class="img-cover"></div>
                    <h4 class="username">george wood</h4>
                    <span class="publication-date">February 3 at 17.03</span>
                    <p>Art thus enables us to experience life at second hand. The small man may enjoy somewhat of the wider experience of the bigger man, and be educated to appreciate in time a wider experience for himself. This is the true justification for public picture galleries.</p>
                    <a href="#" class="reply">reply to this comment</a>
                </div> <!-- /.comment -->
            </div> <!-- /.comments -->
        </div> <!-- /.container -->
    </article>
</main> <!-- /main -->
{% endblock main %}