{% extends "base.html" %}
{% block main %}
<main class="case-study">
    <div class="container intro">
        <!-- ========== Header ========== -->
        <header class="header">
            <a href="index.html">
                <img src="assets/img/logo.svg" class="logo" alt="">
            </a>
            <a href="#" class="open-nav">
                <i></i>
            </a>
            <nav>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="works.html">works</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </header> <!-- /.header -->
        <div class="content">
            <h2 class="year">2020</h2>
            <h1 class="title">muse fashion</h1>
            <ul class="services">
                <li>art direction</li>
                <li>branding</li>
                <li>photogrpahy</li>
                <li>web design</li>
            </ul>
        </div> <!-- /.content -->
    </div> <!-- /.container .intro -->
    <div class="intro-img">
        <img src="assets/img/case-study-1.jpg" alt="" class="img-cover">
    </div> <!-- /.intro-img -->
    <div class="container">
        <div class="about-project">
            <p>Leverage agile frameworks to provide a trending synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value with new proposition. Organically grow the holistic world view, a strong disruptive innovation via workplace diversity and empowerment.</p>
        </div>
        <div class="img-one">
            <img src="assets/img/case-study-2.jpg" alt="" class="img-cover">
        </div>
        <div class="about-project">
            <p>Leverage agile frameworks to provide a trending synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value with new proposition. Organically grow the holistic world view, a strong disruptive innovation via workplace diversity and empowerment.</p>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs nanotechnology immersion along the information highway.</p>
        </div>
        <div class="img-group">
            <div class="img"><img src="assets/img/case-study-3.jpg" alt="" class="img-cover"></div>
            <div class="img"><img src="assets/img/case-study-4.jpg" alt="" class="img-cover"></div>
            <div class="clearfix"></div>
        </div> <!-- /.img-group -->
        <div class="about-project">
            <p>Leverage agile frameworks to provide a trending synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value with new proposition. Organically grow the holistic world view, a strong disruptive innovation via workplace diversity and empowerment.</p>
        </div>
        <div class="img-two">
            <img src="assets/img/case-study-5.jpg" alt="" class="img-cover">
        </div>
    </div> <!-- /.container -->
    <div class="next-project">
        <a href="case-study.html">
            <h3>Next Project</h3>
        </a>
    </div> <!-- /.next-project -->
</main> <!-- /.case-study -->
{% endblock main %}