{% extends "base.html" %}
{% block main %}
<main class="contact">
    <div class="container">
        <h2>contact us</h2>
        <h1>Let's start an awesome<br> project together!</h1>
        <form action="#" class="contact-form">
            <input name="name" placeholder="Your Name *" type="text" required>
            <input name="email" placeholder="Your Email *" type="email" required>
            <textarea name="message" placeholder="Tell us about your project *" required></textarea>
            <input type="submit" value="send message">
            <div class="clearfix"></div>
        </form> <!-- /.contact-form -->
        <div class="contact-info">
            <div>
                <h3>visit us</h3>
                <p>No. 8, 8th Street<br> Boksburg North, 1459</p>
            </div>
            <div>
                <h3>say hello</h3>
                <p>info@iliascc.co.za<br> + 78</p>
            </div>
            <div class="cleafix"></div>
        </div> <!-- /.contact-info -->
        <div class="clearfix"></div>
    </div> <!-- /.container -->
</main> <!-- /.contact -->
{% endblock main %}