<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description}}{% endblock description %}">
    <link rel="stylesheet" href="{{ get_url(path="assets/css/all.css") | safe }}" type="text/css" media="all" >
    <link rel="stylesheet" href="{{ get_url(path="assets/css/themify-icons.css") | safe }}" type="text/css" media="all" >
    <link rel="stylesheet" href="{{ get_url(path="assets/css/main.css") | safe }}" type="text/css" media="all" >
    <link rel="stylesheet" href="{{ get_url(path="assets/css/colors.css") | safe }}" type="text/css" media="all" >
    <link rel="stylesheet" href="{{ get_url(path="assets/css/responsive.css") | safe }}" type="text/css" media="all" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;500;600&family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ get_url(path="assets/img/favicon.png") | safe }}">
    {% endblock head %}
</head>

<body>
    <div class="hero">
        <div class="container-large">
            <!-- ========== Header ========== -->
            <header class="header">
                <a href="index.html">
                    <img src="{{ get_url(path="assets/img/logo-white.svg") | safe }}" class="logo" alt="">
                </a>
                <a href="#" class="open-nav">
                    <i></i>
                </a>
                {% include "_nav.html" %}
                <div class="clearfix"></div>
            </header> <!-- /.header -->
            <h1>We build inspiring<br> and ambitious<br> brands</h1>
            <a href="#" class="cta-primary">view showreel</a>
            <div class="collage">
                <div class="img-one"><img src="assets/img/hero-1.jpg" alt="" class="img-cover"></div>
                <div class="img-two"><img src="assets/img/hero-2.jpg" alt="" class="img-cover"></div>
                <div class="img-three"><img src="assets/img/hero-3.jpg" alt="" class="img-cover"></div>
            </div>
            <ul class="follow-us">
                <li><a href="#">instagram</a></li>
                <li><a href="#">linkedin</a></li>
                <li><a href="#">dribbble</a></li>
                <li><a href="#">behance</a></li>
            </ul>
        </div> <!-- /.container-large -->
    </div> <!-- /.hero -->
    <!-- ========== Main ========== -->
    <main>
        <div class="container">
            <div class="works">
                <a href="case-study.html">
                    <div class="works-item">
                        <div class="thumbnail">
                            <img src="assets/img/works-1.jpg" alt="" class="img-cover">
                        </div>
                        <h3 class="category">branding</h3>
                        <h2 class="title">kleo digital</h2>
                    </div> <!-- /.works-item -->
                </a>
                <a href="case-study.html">
                    <div class="works-item">
                        <div class="thumbnail">
                            <img src="assets/img/hero-2.jpg" alt="" class="img-cover">
                        </div>
                        <h3 class="category">web design</h3>
                        <h2 class="title">etoile agency</h2>
                    </div> <!-- /.works-item -->
                </a>
                <a href="case-study.html">
                    <div class="works-item">
                        <div class="thumbnail">
                            <img src="assets/img/hero-1.jpg" alt="" class="img-cover">
                        </div>
                        <h3 class="category">ui design</h3>
                        <h2 class="title">muse fashion</h2>
                    </div> <!-- /.works-item -->
                </a>
                <a href="case-study.html">
                    <div class="works-item">
                        <div class="thumbnail">
                            <img src="assets/img/works-4.jpg" alt="" class="img-cover">
                        </div>
                        <h3 class="category">publishing</h3>
                        <h2 class="title">rouge magazine</h2>
                    </div> <!-- /.works-item -->
                </a>
                <a href="case-study.html">
                    <div class="works-item">
                        <div class="thumbnail">
                            <img src="assets/img/works-5.jpg" alt="" class="img-cover">
                        </div>
                        <h3 class="category">art direction</h3>
                        <h2 class="title">summer daylight</h2>
                    </div> <!-- /.works-item -->
                </a>
                <div class="clearfix"></div>
            </div> <!-- /.works -->
            <div class="contact-us">
                <div>
                    <h2>contact us</h2>
                    <h1>Let's make something<br> great together</h1>
                    <a href="contact.html" class="cta-secondary"><span>Get in touch</span><img src="assets/img/contact-icon.svg" alt=""></a>
                </div>
            </div> <!-- /.contact-us -->
        </div> <!-- /.container -->
    </main> <!-- /main -->
    <!-- ========== Footer ========== -->
    <footer class="footer">
        <div class="section-one">
            <div class="container">
                <div class="info">
                    <ul>
                        <li>links</li>
                        <li><a href="/">home</a></li>
                        <li><a href="/works">works</a></li>
                        <li><a href="/about">about us</a></li>
                        <li><a href="/blog">blog</a></li>
                        <li><a href="/contact">contact</a></li>
                    </ul>
                    <ul>
                        <li>address</li>
                        <li>iconika studio</li>
                        <li>72 oak street</li>
                        <li>london, UK</li>
                    </ul>
                    <ul>
                        <li>contact</li>
                        <li><span class="mailaddress">iconika@creative.com</span></li>
                        <li>+3809812345</li>
                    </ul>
                    <div class="clearfix"></div>
                </div> <!-- /.info -->
                <div class="get-in-touch">
                    <h4>Ready to start a project?</h4>
                    <p>Don't hesitate to contact us and figure out<br> how we
                        can help.</p>
                    <a href="contact.html" class="cta-secondary"><span>Get in touch</span><img src="assets/img/contact-icon-sm.svg" alt=""></a>
                </div> <!-- /.get-in-touch -->
            </div> <!-- /.container -->
            <div class="clearfix"></div>
        </div><!-- /.section-one -->
        <div class="section-two">
            <div class="container">
                <p class="copyright"><i class="far fa-copyright"></i> 2021 iconika portfolio template.<br> all rights reserved</p>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
            </div> <!-- /.container -->
        </div> <!-- /.section-two -->
    </footer> <!-- /.footer -->
    <!-- ========== Mobile Navigation ========== -->
    <div class="mobile-nav">
        <div class="container">
            <a href="#" class="close-nav"><i class="ti-close"></i></a>
            {% include "_nav.html" %}
        </div> <!-- /.container -->
    </div> <!-- /.mobile-nav -->
    <script src="assets/js/main.js"></script>
</body>

</html>