{% extends "base.html" %}
{% block main %}
<main class="our-works">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <div class="works">
            <a href="case-study.html">
                <div class="works-item">
                    <div class="thumbnail">
                        <img src="assets/img/works-1.jpg" alt="" class="img-cover">
                    </div>
                    <h3 class="category">branding</h3>
                    <h2 class="title">kleo digital</h2>
                </div> <!-- /.works-item -->
            </a>
            <a href="case-study.html">
                <div class="works-item">
                    <div class="thumbnail">
                        <img src="assets/img/hero-2.jpg" alt="" class="img-cover">
                    </div>
                    <h3 class="category">web design</h3>
                    <h2 class="title">etoile agency</h2>
                </div> <!-- /.works-item -->
            </a>
            <a href="case-study.html">
                <div class="works-item">
                    <div class="thumbnail">
                        <img src="assets/img/hero-1.jpg" alt="" class="img-cover">
                    </div>
                    <h3 class="category">ui design</h3>
                    <h2 class="title">muse fashion</h2>
                </div> <!-- /.works-item -->
            </a>
            <a href="case-study.html">
                <div class="works-item">
                    <div class="thumbnail">
                        <img src="assets/img/works-4.jpg" alt="" class="img-cover">
                    </div>
                    <h3 class="category">publishing</h3>
                    <h2 class="title">rouge magazine</h2>
                </div> <!-- /.works-item -->
            </a>
            <a href="case-study.html">
                <div class="works-item">
                    <div class="thumbnail">
                        <img src="assets/img/works-5.jpg" alt="" class="img-cover">
                    </div>
                    <h3 class="category">art direction</h3>
                    <h2 class="title">summer daylight</h2>
                </div> <!-- /.works-item -->
            </a>
            <div class="clearfix"></div>
        </div> <!-- /.works -->
    </div> <!-- /.container -->
</main> <!-- /.our-works -->
{% endblock main %}